<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.test_bottom_navigation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Initializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NavTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" />
        <activity android:name=".UserFragment" />
        <activity android:name=".DataFragment" />
        <activity android:name=".ChartFragment" />
        <activity android:name=".InfoFragment" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SensorActivity" />
        <activity android:name=".GroupActivity" />

        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:persistent="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_count" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/Transparent" />

        <service
            android:name=".service.MyService"
            android:enabled="true" />

        <activity android:name=".UserActivity" />
        <activity android:name=".EditName" />
        <activity android:name=".EditMail" />
        <activity android:name=".EditTel" />
        <activity
            android:name=".CustomerDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>